{{#if isInput}}
	<input type="hidden" />
	{{#if label}}
		{{#if icon}}<i class="{{icon}} icon"></i>{{/if}}
		<div class="default text">{{label}}</div>
	{{/if}}
{{else}}
	{{#if preIcon}}<i class="{{preIcon}} icon"></i>{{/if}}
	{{label}}
	{{#if icon}}<i class="{{icon}} icon"></i>{{/if}}
{{/if}}
{{yield}}