<input type="hidden" />
<i class="dropdown icon"></i>
<div class="default text">{{placeholder}}</div>
<div class="menu">
	{{#if showNull}}
		<div class="item" data-value="">
			{{#if placeholder}}
				{{placeholder}}
			{{else}}
				&nbsp;
			{{/if}}
		</div>
	{{/if}}
	{{#each list as |item index|}}
		<div class="item" data-value="{{index}}">
			{{yield item}}
		</div>
	{{/each}}
</div>
